@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
section {
	position: relative;
	width: 100%;
	height: 100%;
}

section::after {
	position: relative;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 80%;
}

.demo a {
	position: absolute;
	bottom: 90px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #8f8786;
	font : normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}
.demo a:hover {
	opacity: .5;
}

#section01 a {
	padding-top: 0px;
}
#section01 a span {
	position: absolute;
	bottom: 20px;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 2px solid #8f8786;
	border-bottom: 2px solid #8f8786;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb01 2s infinite;
	animation: sdb01 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb01 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes sdb01 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}
